:root {
    --main-color: white;
    --special-color: rgb(0, 153, 204);
    --gray-color: #6c757d;
    --header-font: "Nerko One", serif;
    --main-font: "Comfortaa", serif;
    --special-background: #3a497b;
}


body {
    color: var(--main-color);
    font-family: var(--header-font);
    background-color: rgb(39, 43, 48);
    font-weight: 100;
}

/* ! loader */
.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}

.loading {
    background-color: rgba(0, 0, 0, 0.3);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ! header */

header {
    background-image: url(image/wraper.png);
    background-position: 45% center;
    background-size: cover;
    height: 35vh;
}

/* ! nav */

.my-nav {
    top: 4%;
}

.my-nav .container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo-img {
    width: 20%;
}

.logo {
    font-family: var(--header-font);
    font-size: 1.5rem;
}

.nav-link {
    color: var(--main-color);
}

.nav-link:focus,
.nav-link:hover {
    color: var(--special-color);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--special-color);
}

.navbar .container {
    background-color: var(--special-background);
}

.navbar-toggler-icon {
    filter: invert(1);
    -webkit-filter: invert(1);
}

.navbar-toggler:focus {
    box-shadow: none;
    border: 0;
}

/* ! game section */

.card-body {
    flex-grow: 1;
    padding: 0;
}

.gamesList .container .card {
    background-color: rgb(39, 43, 48);
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
}

.gamesList .card-body p {
    color: var(--gray-color);

}

.gamesList .card-body h5 {
    font-weight: 100;
}

.gamesList .card-body button {
    background-color: hsl(226, 36%, 40%);
    border: none;
}


.card-footer {
    flex-grow: 0;
}

.card-footer div {
    background-color: hsl(213, 10%, 20%);
}

.gamesList .card .image {
    position: relative;
}

.gamesList .card,
.gamesList .card .image::before {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.gamesList .card .image::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);

}

.gamesList .card:hover .image::before {
    position: static;

}

.gamesList .card:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}


/* ! details section */

#title,
#category,
#platform,
#status {
    background-color: var(--special-color);
    outline: none;
    color: rgb(39, 43, 48);
}

#showGame {
    background-color: transparent;
    border: 2px solid var(--special-color);
    color: var(--main-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#showGame:hover {
    background-color: var(--special-color);
    border: 2px solid var(--special-color);
    color: rgb(39, 43, 48);
}

/* ! media query */

@media (min-width: 768px) {

    .navbar .container,
    .details .container {
        width: 75%;
    }

    .my-nav {
        top: 2.6%;
    }
}

@media (min-width: 992px) {
    .my-nav {
        top: 4%;
    }
}